<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .main-card{ border-radius: 10px; display: block; flex-direction: column;
      background-color: #272835; padding: 1rem; width: fit-content; margin:
      auto; } .main-card h1 { text-align: center; width: fit-content; display:
      block; margin-inline: auto; margin-block: 1rem; color: white;
      border-radius: 10px; font-style: italic; } .main-card img { width: 25rem;
      border-radius: 5px; margin: auto; display: block; } .main-card a { width:
      fit-content; display: block; margin-inline: auto; color: #88BD2B;
      font-weight: bold; font-size: 20px; margin-top: 5px; font-style: italic; }
    </style>
  </head>
  <body>
    <section class="main-card">
      <h1>
        <span>Departamento de Sistemas</span>
        Recuperación de contraseña
        <hr width="100%" />
      </h1>
      <img src="http://DepartamentoSistemas.udenar.edu.co/recupass.png" alt="recupass" />
      <a href="{{token}}">Has click aqui para recuperar tu contraseña</a>
    </section>
  </body>
</html>